@{
    ViewData["Title"] = "Home Page";
}


<section class="site-title">

    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <h1>
            "Programming isn't about what you know; it's about what you can figure out.”</h3>
            <h3>- Chris Pine</h3>
            <button class="btn">Explore</button>
    </div>
</section>

<!-- ------------------ Blog Carosel---------------------------->

<section>
    <div class="blog">
        <div class="container">
            <div class="owl-carousel owl-theme blog-post">
                <div class="blog-content">
                    <img src="./asset/carosel/eye1.jpg" alt="Post One">
                    <div class="blog-title">
                        <h2>The Holly Day Of INDIA One</h2>
                        <button class="btn btn-blog">Culture</button>
                        <span>5 minutes</span>
                    </div>

                </div>
                <div class="blog-content">
                    <img src="./asset/carosel/eye2.jpg" alt="Post One">
                    <div class="blog-title">
                        <h2>The Holly Day Of INDIA One</h2>
                        <button class="btn btn-blog">Culture</button>
                        <span>5 minutes</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="./asset/carosel/dore.jpg" alt="Post One">
                    <div class="blog-title">
                        <h2>The Holly Day Of INDIA One</h2>
                        <button class="btn btn-blog">Culture</button>
                        <span>5 minutes</span>
                    </div>
                </div>

                <div class="blog-content">
                    <img src="./asset/carosel/adorable-1851108.jpg" alt="Post One">
                    <div class="blog-title">
                        <h2>The Holly Day Of INDIA One</h2>
                        <button class="btn btn-blog">Culture</button>
                        <span>5 minutes</span>
                    </div>
                </div>
            </div>

            <div class="owl-navigation">
                <span class="owl-nav-prev">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>

                <span class="owl-nav-next">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </span>
            </div>
        </div>
    </div>
</section>


<!-- -------x----------- Blog Carosel---------------x------------->
<!--------------------------------Site Content-------------------------------->

<section class="container">

    <div class="site-content">
        <div class="post">
            <div class="post-content">
                <div class="post-image">
                    <div>
                        <img src="./asset/Blog post/beautiful girl.jpg" class="img" alt="Girl Image">
                    </div>
                    <div class="post-info flex-row">
                        <span>
                            <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                        </span>
                        <span>
                            <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                        </span>
                        <span>2 Comments </span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    <p>
                        tumi jaw , je sudhu tomari thake , bari fire eso sondhe namar age.
                        Dibos ow rojoni tomate sojoni bari ghor makha makhi bakul basore je alo dukkho se alte tumi thako.
                        tumi jaw, je sudhu tomari thake.
                    </p>
                    <button class="btn post-button">Read more &nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <hr>

            <div class="post-content">
                <div class="post-image">
                    <div>
                        <img src="./asset/Blog post/cat.jpg" class="img" alt="Girl Image">
                    </div>
                    <div class="post-info flex-row">
                        <span>
                            <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                        </span>
                        <span>
                            <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                        </span>
                        <span>2 Comments </span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    <p>
                        tumi jaw , je sudhu tomari thake , bari fire eso sondhe namar age.
                        Dibos ow rojoni tomate sojoni bari ghor makha makhi bakul basore je alo dukkho se alte tumi thako.
                        tumi jaw, je sudhu tomari thake.
                    </p>
                    <button class="btn post-button">Read more &nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <hr>

            <div class="post-content">
                <div class="post-image">
                    <div>
                        <img src="./asset/Blog post/handcap.jpg" class="img" alt="Girl Image">
                    </div>
                    <div class="post-info flex-row">
                        <span>
                            <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                        </span>
                        <span>
                            <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                        </span>
                        <span>2 Comments </span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    <p>
                        tumi jaw , je sudhu tomari thake , bari fire eso sondhe namar age.
                        Dibos ow rojoni tomate sojoni bari ghor makha makhi bakul basore je alo dukkho se alte tumi thako.
                        tumi jaw, je sudhu tomari thake.
                    </p>
                    <button class="btn post-button">Read more &nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <hr>
            <div class="post-content">

                <div class="post-image">
                    <div>
                        <img src="./asset/paint-brushes-984434_1920.jpg" class="img" alt="Girl Image">
                    </div>
                    <div class="post-info flex-row">
                        <span>
                            <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                        </span>
                        <span>
                            <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                        </span>
                        <span>2 Comments </span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    <p>
                        tumi jaw , je sudhu tomari thake , bari fire eso sondhe namar age.
                        Dibos ow rojoni tomate sojoni bari ghor makha makhi bakul basore je alo dukkho se alte tumi thako.
                        tumi jaw, je sudhu tomari thake.
                    </p>
                    <button class="btn post-button">Read more &nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <div class="pagination flex-row">
                <a href="#"> <i class="fas fa-chevron-left"></i></a>
                <a href="#" class="pages">1</a>
                <a href="#" class="pages">2</a>
                <a href="#" class="pages">3</a>
                <a href="#"> <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>

        <aside class="sidebar">
            <div class="category">
                <h2>Category</h2>
                <ul class="category-list">
                    <li class="list-items">
                        <a href="#">About CSE</a>
                        <span>(05)</span>

                    </li>
                    <li class="list-items">
                        <a href="#">About Programming</a>
                        <span>(05)</span>

                    </li>
                    <li class="list-items">
                        <a href="#">Programing Languages</a>
                        <span>(05)</span>

                    </li>
                    <li class="list-items">
                        <a href="#">Algorithm</a>
                        <span>(05)</span>

                    </li>
                    <li class="list-items">
                        <a href="#">Data Structure</a>
                        <span>(05)</span>
                    </li>
                </ul>
            </div>

            <div class="popular-post">
                <h2>Popular Post</h2>
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="./asset/Blog post/propose.png" class="img" alt="Girl Image">
                        </div>
                        <div class="post-info flex-row">
                            <span>
                                <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                            </span>
                            <span>
                                <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                            </span>
                            <span>2 Comments </span>
                        </div>
                    </div>

                    <div class="post-title">
                        <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="./asset/paint-brushes-984434_1920.jpg" class="img" alt="Girl Image">
                        </div>
                        <div class="post-info flex-row">
                            <span>
                                <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                            </span>
                            <span>
                                <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                            </span>
                            <span>2 Comments </span>
                        </div>
                    </div>

                    <div class="post-title">
                        <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    </div>
                </div>
                <div class="post-content">

                    <div class="post-image">
                        <div>
                            <img src="./asset/paint-brushes-984434_1920.jpg" class="img" alt="Girl Image">
                        </div>
                        <div class="post-info flex-row">
                            <span>
                                <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                            </span>
                            <span>
                                <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                            </span>
                            <span>2 Comments </span>
                        </div>
                    </div>

                    <div class="post-title">
                        <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>
                    </div>
                </div>
                <div class="post-content">

                    <div class="post-image">
                        <div>
                            <img src="./asset/paint-brushes-984434_1920.jpg" class="img" alt="Girl Image">
                        </div>
                        <div class="post-info flex-row">
                            <span>
                                <i class="fas fa-user text-gray">&nbsp;&nbsp;Admin</i>
                            </span>
                            <span>
                                <i class="fas fa-calendar-alt text-gray">&nbsp;&nbsp;April 6,2020</i>
                            </span>
                            <span>2 Comments </span>
                        </div>
                    </div>

                    <div class="post-title">
                        <a href="#">Show mw the meaning of your being lonely.i will play with you.</a>

                    </div>
                </div>
            </div>

            <div class="newsletter">
                <h2>Newsletter</h2>
                <div class="form-element">
                    <input type="text" name="" id="" class="input-element" placeholder="Email">
                    <button class="btn form-btn">Subscribe</button>

                </div>


            </div>

            <div class="popular-tags">
                <h2>Popular Tag</h2>

                <div class="tags flex-row">
                    <span class="tag">C Programming</span>
                    <span class="tag">C++ Programming</span>
                    <span class="tag">Java Programming</span>
                    <span class="tag">Python Programming</span>
                    <span class="tag">First Code</span>
                    <span class="tag">Illustration</span>
                </div>
            </div>
        </aside>
    </div>
</section>